<div class="socialMedia">
    <div class="smItem">
        <a ng-click="openUrl('http://twitter.com/share?url=http%3A%2F%2Fjblackburn.comoj.com%2F&text=Jonathan Blackburn: Full-Stack Web Developer based in Toronto, Canada');" href="javascript:void(0);" class="twitter-share-button" data-url="http://jblackburn.comoj.com" data-text="Jonathan Blackburn: Full-Stack Web Developer based in Toronto, Canada" data-via="koryo1975" data-count="none">
            <img src="//s2.twnmm.com/images/icon-twitter.png" alt="Twitter">
        </a>
    </div>
             
    <div class="smItem">
        <a rel="nofollow" target="_blank" title="{title}" href="javascript:void(0);" ng-click="openUrl('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fjblackburn.comoj.com%2F&amp;t=Jonathan Blackburn: Full-Stack Web Developer based in Toronto, Canada');">
            <img src="//s2.twnmm.com/images/icon-facebook.png" alt="Facebook">
        </a>
    </div>
             
    <div class="smItem">
        <a ng-click="openUrl('https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http%3A%2F%2Fjblackburn.comoj.com%2F&amp;title=Jonathan Blackburn: Full-Stack Web Developer based in Toronto, Canada');" href="javascript:void(0);">
            <img src="//s2.twnmm.com/images/icon-google-plus.png" alt="Share on Google+">	
        </a>
    </div>
             
    <div class="smItem">
        <a href="http://www.linkedin.com/profile/view?id=5406408&trk=nav_responsive_tab_profile" target="_blank">
            <img src="images/share/linkedin-icon.png" alt="View LinkedIn Profile">	
        </a>
    </div>
</div>